/*************************************
**************************************
These are the styles for
the home page
**************************************
**************************************/

.wrap-main {
  min-height: 350px;
}

.neal-hero {
  &.banner-hero {
    @include transition(all 0.2s ease-out 0s);
    margin-bottom: 0;
    background: url('/static/images/bg_hero.jpg') no-repeat fixed;
    background-size: cover;
    h1 {
      line-height: 50px;
      @media (max-width: 1050px) {
        font-size: 2.375rem;
      }
      @media (max-width: 850px) {
        font-size: 2.25rem;
        line-height: 2.5rem;
      }
      @media (max-width: 650px) {
        font-size: 1.875rem;
      }
      @media (max-width: 590px) {
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
      @media (max-width: 390px) {
        font-size: 1rem;
      }
    }
    .hero-caption {
      p {
        @media (max-width: 850px) {
          font-size: 0.9375rem;
        }
      }
    }
    @media (max-width: 850px) {
      padding-top: 7rem;
      padding-bottom: 7rem;
    }
    @media (max-width: 590px) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    @media (min-width: 850px) {
      padding-top: 11rem;
      padding-bottom: 11rem;
    }
    @media (min-width: 1400px) {
      padding-top: 19rem;
      padding-bottom: 19rem;
    }
    
  }
}

.section-list {
  padding-bottom: 1rem;
  text-align: left;
  .section-item {
    margin-bottom: 2rem;
    .lead {
      margin-bottom: 1rem;
      font-size: 1.875rem;
      line-height: 2.4375rem;
      color: #1c232e;
      font-weight: 600;
      word-break: break-word;
      @media (max-width: 850px) {
        font-size: 1.625rem;
        line-height: 2rem;
      }
    }
    p {
      text-align: justify;
      @media (max-width: 590px) {
        margin-bottom: 1rem;
      }
    }
  }
  @media (max-width: 590px) {
    padding-top: 3rem;
  }
}
