/*************************************
**************************************
These are the styles for
the stream page
**************************************
**************************************/

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  -webkit-animation: smooth-image 1.2s;
  -moz-animation: smooth-image 1.2s;
  animation: smooth-image 1.2s;
}


/* dropdown-menu */

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.fade.in {
  opacity: 1;
}

.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  @include border-radius(0);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
}

.open > .dropdown-menu {
  display: block;
}

.open > a {
  outline: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.standand-sort {
  position: relative;
  z-index: 500;
  margin: -1px 0 15px;
  clear: both;
  background: #fff;
  text-align: left;
  border: 1px solid #eee;
  border-left: 0;
  border-right: 0;
  background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);
  .navbar {
    margin: 0;
    padding: 0;
    min-height: inherit;
    display: block;
    @media (max-width: 750px) {
      float: none;
    }
  }
  .navbar-nav {
    @include border-radius(0);
    display: block;
    > li {
      min-height: 63px;
      &.dropdown {
        border-right: 1px solid #eee;
      }
      > a {
        padding: 9px 20px 13px;
        display: block;
        color: #000;
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
      @media (max-width: 590px) {
        min-height: inherit;
      }
    }
  }
  .control-sort,
  .list-bookmark {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .list-bookmark {
    float: left;
    li,
    li a {
      float: left
    }
    a {
      font-size: 12px;
      padding: 11px 17px;
      color: #000;
      border-right: 1px solid #eee;
      i {
        margin-left: 3px
      }
      &:hover,
      &:focus {
        background: #f4f4f4
      }
    }
  }
  .control-sort {
    float: right;
    list-style: none;
    margin-bottom: 4px;
    overflow: hidden;
    li {
      margin-left: 8px;
      li,
      li a {
        float: left
      }
      a {
        background: none;
        border-top: 0;
        border-bottom: 0;
        border-right: 0;
        padding: 11px 18px 5px;
        height: 46px;
        padding: 7px 8px;
        display: block;
        border: 1px solid #e5e5e5;
        background: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4));
        background: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
        background: -o-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
        background: -ms-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
        background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);
        i {
          vertical-align: middle;
        }
        &:hover,
        &.active {
          background: #fff;
        }
      }
    }
  }
}

.scope-brand {
  @include abs-pos ($top: -4px, $right: 10px, $bottom: 0, $left: auto);
  z-index: 500;
  background: #0fa733;
  min-width: 36px;
  height: 30px;
  text-align: center;
  .brand-inner {
    position: relative;
    padding: 5px 7px;
    font-weight: bold;
    display: inline-block;
    color: #fff;
    font-size: 0.75rem;
    .brand-text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 179px;
      display: inline-block;
      .number-sync {
        font-family: 'Orbitron Light', sans-serif;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
      }
    }
    &::before {
      @include abs-pos ($top: 0, $right: 0, $bottom: auto, $left: -4px);
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      display: inline-block;
      border-width: 0 0 4px 4px;
      border-color: #0fa733 transparent;
    }
  }
  &::before,
  &::after {
    content: "";
    display: block;
    border-width: 10px 10px 0;
    border-style: solid;
    border-width: 7px;
    border-color: #0fa733 transparent transparent;
  }
  &::before {
    @include abs-pos ($top: auto, $right: 0, $bottom: -14px, $left: auto);
    border-left-color: transparent;
    border-right-color: #0fa733;
    border-top-color: #0fa733;
    border-bottom-right-radius: 0;
  }
  &::after {
    @include abs-pos ($top: auto, $right: auto, $bottom: -14px, $left: 0);
    border-left-color: #0fa733;
    border-top-color: #0fa733;
    border-bottom-left-radius: 0;
  }
}

.container-masonry {
  @include clearfix();
  margin: 15px 0;
}

.panel-user {
  @include clearfix();
  .panel-user-img {
    margin: 0.5rem 0 0 0;
    img {
      @include border-radius(50%);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin-right: 0.625rem;
      width: 30px;
      height: 30px;
    }
  }
}

.tooltip-user {
  display: inline;
  position: relative;
  font-size: 0.75rem;
  cursor: pointer;
  .full-name {
    font-weight: bold;
    color: #808080;
  }
  &:hover {
    &::after {
      @include border-radius(5px);
      @include abs-pos ($top: auto, $right: auto, $bottom: 26px, $left: 0);
      background: #333;
      background: rgba(0, 0, 0, .7);
      color: #fff;
      content: attr(title);
      padding: 3px 10px;
      z-index: 98;
      max-width: 120px;
      text-overflow: ellipsis;
      /* Required for text-overflow to do anything */
      white-space: nowrap;
      overflow: hidden;
    }
    &::before {
      @include abs-pos ($top: auto, $right: auto, $bottom: 20px, $left: 8px);
      border: solid;
      border-color: #333 transparent;
      border-color: rgba(0, 0, 0, .7) transparent;
      border-width: 6px 6px 0 6px;
      content: "";
      z-index: 99;
    }
  }
}


/* -----tag------*/

.tags {
  @include clearfix();
  @include transition(all 0.2s ease-out 0s);
  position: relative;
  margin-top: 10px;
  padding: 3px 10px 2px 12px;
  display: inline-block;
  border: none;
  text-decoration: none;
  font-family: 'Orbitron-Light';
  font-size: 0.75rem;
  max-height: 26px;
  color: #fff;
  background-color: transparent;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  .text-tag {
    min-height: 20px;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 140px;
  }
  &::before {
    @include transition(all 0.2s ease-out 0s);
    position: absolute;
    top: 0;
    left: -13px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid transparent;
    content: "";
    border-right-color: transparent;
  }
  &::after {
    @include transition(all 0.2s ease-out 0s);
    position: absolute;
    left: -2px;
    top: 50%;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    content: "";
    background: #fff;
    border-radius: 50%;
  }
  &:hover,
  &:focus {
    @include transition(all 0.2s ease-out 0s);
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    &:before {
      @include transition(all 0.2s ease-out 0s);
      border-right-color: transparent;
    }
  }
  &.tags-color-1 {
    background-color: rgba(15, 167, 51, 0.9);
    &::before {
      border-right-color: rgba(15, 167, 51, 0.9);
    }
    &::after {
      background: #fff;
    }
    &:hover,
    &:focus {
      background-color: #0fa733;
      &:before {
        border-right-color: #0fa733;
      }
    }
  }
  &.tags-color-2 {
    background-color: rgba(0, 150, 136, 0.9);
    &::before {
      border-right-color: rgba(0, 150, 136, 0.9);
    }
    &::after {
      background: #fff;
    }
    &:hover,
    &:focus {
      background-color: #009688;
      &:before {
        border-right-color: #009688;
      }
    }
  }
  &.tags-color-3 {
    background-color: rgba(253, 216, 53, 0.9);
    &::before {
      border-right-color: rgba(253, 216, 53, 0.9);
    }
    &::after {
      background: #fff;
    }
    &:hover,
    &:focus {
      background-color: #FDD835;
      &:before {
        border-right-color: #FDD835;
      }
    }
  }
  &.tags-color-4 {
    background-color: rgba(255, 152, 0, 0.9);
    &::before {
      border-right-color: rgba(255, 152, 0, 0.9);
    }
    &::after {
      background: #fff;
    }
    &:hover,
    &:focus {
      background-color: #FF9800;
      &:before {
        border-right-color: #FF9800;
      }
    }
  }
  &.tags-color-5 {
    background-color: rgba(121, 85, 72, 0.9);
    &::before {
      border-right-color: rgba(121, 85, 72, 0.9);
    }
    &::after {
      background: #fff;
    }
    &:hover,
    &:focus {
      background-color: #795548;
      &:before {
        border-right-color: #795548;
      }
    }
  }
  &.tags-color-6 {
    background-color: rgba(128, 128, 128, 0.9);
    &::before {
      border-right-color: rgba(128, 128, 128, 0.9);
    }
    &::after {
      background: #fff;
    }
    &:hover,
    &:focus {
      background-color: #808080;
      &:before {
        border-right-color: #808080;
      }
    }
  }
  &.tags-color-7 {
    background-color: rgba(183, 28, 28, 0.9);
    &::before {
      border-right-color: rgba(183, 28, 28, 0.9);
    }
    &::after {
      background: #fff;
    }
    &:hover,
    &:focus {
      background-color: #B71C1C;
      &:before {
        border-right-color: #B71C1C;
      }
    }
  }
  &.tags-color-8 {
    background-color: rgba(216, 27, 96, 0.9);
    &::before {
      border-right-color: rgba(216, 27, 96, 0.9);
    }
    &::after {
      background: #fff;
    }
    &:hover,
    &:focus {
      background-color: #D81B60;
      &:before {
        border-right-color: #D81B60;
      }
    }
  }
  &.tags-color-9 {
    background-color: rgba(142, 36, 170, 0.9);
    &::before {
      border-right-color: rgba(142, 36, 170, 0.9);
    }
    &::after {
      background: #fff;
    }
    &:hover,
    &:focus {
      background-color: #8E24AA;
      &:before {
        border-right-color: #8E24AA;
      }
    }
  }
  &.tags-color-10 {
    background-color: rgba(84, 110, 122, 0.9);
    &::before {
      border-right-color: rgba(84, 110, 122, 0.9);
    }
    &::after {
      background: #fff;
    }
    &:hover,
    &:focus {
      background-color: #546E7A;
      &:before {
        border-right-color: #546E7A;
      }
    }
  }
  &.tags-color-11 {
    background-color: rgba(27, 94, 32, 0.9);
    &::before {
      border-right-color: rgba(27, 94, 32, 0.9);
    }
    &::after {
      background: #fff;
    }
    &:hover,
    &:focus {
      background-color: #1B5E20;
      &:before {
        border-right-color: #1B5E20;
      }
    }
  }
  &.tags-color-12 {
    background-color: rgba(62, 39, 35, 0.9);
    &::before {
      border-right-color: rgba(62, 39, 35, 0.9);
    }
    &::after {
      background: #fff;
    }
    &:hover,
    &:focus {
      background-color: #3E2723;
      &:before {
        border-right-color: #3E2723;
      }
    }
  }
}

.mix-tag {
  @include abs-pos ($top: auto, $right: 10px, $bottom: 10px, $left: auto);
  @include flexbox();
  flex-flow: column wrap;
  z-index: 100;
  a {
    cursor: pointer;
  }
}

.tab-box {
  .tab-content {
    padding-top: 30px;
  }
}


/* ---- grid-item ---- */

.grid-row {
  @include clearfix();
  position: relative;
  margin: 0;
  width: 100%;
  .grid-item {
    @include border-radius(8px);
    position: relative;
    margin-bottom: 10px;
    padding: 15px;
    width: 20%;
    float: left;
    &::before {
      @include transform(scale(0.96));
      @include border-radius(8px);
      @include abs-pos ($top: 0, $right: 0, $bottom: 0, $left: 0);
      @include transition (all 0.3s cubic-bezier(.25, .8, .25, 1));
      /* background: rgba(255, 255, 255, 0.05); */
      -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.12), 0 0px 5px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.12), 0 0px 5px rgba(0, 0, 0, 0.24);
      box-shadow: 0 0px 5px rgba(0, 0, 0, 0.12), 0 0px 5px rgba(0, 0, 0, 0.24);
      opacity: 0;
      content: " ";
      height: 100%;
      width: 100%;
      pointer-events: none;
      z-index: 3;
    }
    &:hover::before {
      /* -webkit-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.20), 0 6px 10px rgba(0, 0, 0, 0.18);
      -moz-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.20), 0 6px 10px rgba(0, 0, 0, 0.18);
      box-shadow: 0 3px 14px rgba(0, 0, 0, 0.20), 0 6px 10px rgba(0, 0, 0, 0.18); */
      -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2), 0 3px 9px rgba(0, 0, 0, 0.18);
      -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2), 0 3px 9px rgba(0, 0, 0, 0.18);
      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2), 0 3px 9px rgba(0, 0, 0, 0.18);
      -webkit-animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
      animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
    }
    @media (max-width: 1290px) {
      width: 25%;
    }
    @media (max-width: 890px) {
      width: 33.33%;
    }
    @media (max-width: 750px) {
      width: 50%;
    }
    @media (max-width: 550px) {
      width: 100%;
    }
  }
  &.grid-expend {
    @include equal_height();
    .grid-item {
      width: 33.33%;
      .thumbnail-image {
        margin-right: 20px;
        float: left;
        width: 50%;
        > a {
          img {
            max-width: inherit;
            width: auto;
            max-height: 250px;
          }
        }
        @media (max-width: 550px) {
          margin-right: 0;
          width: 100%;
          float: none;
        }
      }
      .caption {
        overflow: hidden;
      }
      @media (max-width: 1050px) {
        width: 50%;
      }
      @media (max-width: 750px) {
        width: 100%;
      }
    }
  }
}

.stream-list {
  margin: 20px 0 10px;
  text-align: center;
  .stream-item {
    display: inline-block;
    text-decoration: none;
    font-family: 'Orbitron Light', sans-serif;
    span {
      padding: 10px 8px;
      display: block;
      border-bottom: 1px solid #e1e5eb;
      color: #404040;
      display: block;
      font-size: 0.75rem;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 15px;
      text-transform: uppercase;
      width: 100%;
      &.active {
        color: #2db7f5;
        border-bottom-color: #2db7f5;
      }
      &,
      &.active {
        @include transition(all 0.2s ease-out 0s);
      }
    }
  }
}

.nlp_topic {
  font-family: 'Courier New', sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 11px 4px 0;
  text-shadow: 1px 1px 2px gray;
  color: #000;
}

.nlp_score {
  font-family: 'Orbitron Light', sans-serif;
  padding: 0 2px;
  display: inline-block;
  color: #999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}


/*-----thumbnail-box-----*/

.thumbnail-box {
  @include clearfix();
  @include border-radius(8px);
  padding: 0;
  .thumbnail {
    position: relative;
    .thumbnail-image {
      @include border-radius(8px);
      position: relative;
      min-height: 120px;
      > a {
        @include border-radius(4px);
        display: block;
        overflow: hidden;
      }
      img {
        @include border-radius(8px);
        object-fit: contain;
        max-width: 335px;
        @media (max-width: 1450px) {
          max-width: 270px;
        }
        @media (max-width: 1050px) {
          max-width: 225px;
        }
        @media (max-width: 690px) {
          max-width: 250px;
        }
        @media (max-width: 490px) {
          max-width: 260px;
        }
      }
      .btn-discovery {
        img {
          @include border-radius(0);
          width: 20px;
          height: 20px;
        }
      }
      &::after,
      &::before {
        @include abs-pos ($top: 0, $right: 0, $bottom: 0, $left: 0);
        @include transition(background 0.3s linear);
        @include border-radius(8px);
        content: " ";
        height: 100%;
        width: 100%;
        overflow: hidden;
      }
      &::after {
        background: rgba(0, 0, 0, 0.02);
        bottom: 0;
        z-index: 5;
      }
      &::before {
        z-index: 101;
        visibility: hidden;
        background: -webkit-linear-gradient(rgba(80, 80, 80, 0), rgba(80, 80, 80, 0.2) 70%, rgba(80, 80, 80, 0.5));
        background: linear-gradient(rgba(80, 80, 80, 0), rgba(80, 80, 80, 0.2) 70%, rgba(80, 80, 80, 0.5));
      }
    }
    .caption {
      padding-top: 15px;
      text-align: left;
      color: #404040;
      .caption-title {
        margin-bottom: 0.3125rem;
        font-size: 0.875rem;
        line-height: 1.3125rem;
        font-weight: bold;
        a {
          @include transition(all 0.2s ease-out 0s);
          color: #2db7f5;
          &:hover,
          &:focus {
            @include transition(all 0.3s ease-out 0s);
            color: #0292d3;
            text-decoration: none;
          }
        }
      }
      p {
        margin-bottom: 0.4rem;
        font-size: 0.75rem;
      }
      .credit-info {
        font-size: 0.75rem;
        margin: 0;
        padding: 0 8px 3px;
        text-align: left;
        img {
          vertical-align: middle;
        }
      }
    }
    .para-date {
      margin: 0.4375rem 0 0;
      .date-time {
        font-size: 0.75rem;
        display: inline-block;
      }
    }
    .rating {
      span {
        line-height: 18px;
      }
    }
    &:hover .thumbnail-image {
      &::before,
      &::after {
        @include transition(background 0.3s linear);
      }
      &::before {
        visibility: visible;
      }
    }
  }
  .btn-discovery {
    @include border-radius(3px);
    @include transform(translateY(-50px));
    @include transition(all 0.3s ease);
    @include abs-pos ($top: auto, $right: auto, $bottom: 10px, $left: 12px);
    z-index: 500;
    border: 0;
    width: 36px;
    height: 36px;
    line-height: 31px;
    text-align: center;
    box-shadow: none;
    color: #555;
    text-shadow: none;
    background-color: #fbf8f8;
    background-clip: padding-box;
    font-size: 0.875rem;
    opacity: .97;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    &:hover,
    &:focus,
    &:active {
      background-color: #fff;
      border: 0;
    }
  }
  &:hover,
  &:focus {
    .btn-discovery {
      @include transform(translateY(0));
      @include transition(all 0.3s ease);
      opacity: 1;
      visibility: visible;
    }
  }
}


/*-----filter rating-----*/

.filter-rating {
  @include abs-pos ($top: 12px, $right: 22px, $bottom: auto, $left: auto);
  z-index: 100;
}


/*-----search-bar-----*/

.search-bar {
  @include border-radius(5px);
  padding: 15px 10px;
  background: #efefef;
  &,
  .kYyjtp {
    height: auto;
  }
  .ReactTags__tags {
    padding: 0;
  }
  .ReactTags__selected {
    text-align: center;
    span.ReactTags__tag {
      margin-bottom: 10px;
      border: 0;
    }
  }
  .ReactTags__tagInput {
    vertical-align: middle;
    width: 250px;
  }
  .ReactTags__tagInputField {
    @include border-radius(25px);
    display: block;
    height: 42px !important;
    padding: 4px 10px 4px 36px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    width: 100%;
    max-width: 680px;
    background: url("/static/images/search-input.png") no-repeat 8px center #fff scroll;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    }
  }
  .ReactTags__tagInputField::-moz-placeholder {
    color: #999;
    opacity: 1;
  }
  .ReactTags__tagInputField:-ms-input-placeholder {
    color: #999;
  }
  .ReactTags__tagInputField::-webkit-input-placeholder {
    color: #999;
  }
  .ReactTags__tagInputField::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  .ReactTags__tagInputField[disabled],
  .ReactTags__tagInputField[readonly] {
    background-color: #eee;
    opacity: 1;
  }
}


/*-----search dropdown-----*/

.input-group {
  position: relative;
  padding: 10px 15px;
  display: block;
  max-width: 700px;
  .btn {
    @include border-radius(0);
    @include box-shadow(none);
    padding: 9px 20px 13px;
    font-size: 1rem;
    font-weight: normal;
    background: none;
    &:focus {
      outline: 0;
    }
  }
  .form-control {
    @include border-radius(25px);
    padding: 4px 119px 4px 36px;
    height: 42px;
    width: 100%;
    background: url("/static/images/search-input.png") no-repeat 8px center #fff scroll;
    @media (max-width: 590px) {
      width: 100%;
    }
  }
}

.search-box-drop {
  @include abs-pos ($top: 100%, $right: auto, $bottom: auto, $left: 2%);
  @include border-radius(4px);
  @include box-shadow(0 6px 12px rgba(0,0,0,.175));
  display: none;
  z-index: 5000;
  float: left;
  min-width: 160px;
  width: 96%;
  padding: 15px 15px 5px;
  margin: 3px 0 0;
  font-size: 0.875rem;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  .search-box-title {
    @include border-radius(4px);
    padding: 7px 10px 8px;
    margin-bottom: 5px;
    font-size: 0.9375rem;
    color: #fff;
    background-color: #2db7f5;
    font-weight: bold;
  }
  .search-box-list {
    list-style: none;
    margin: 0 0 10px;
    padding: 3px 0 0;
    li {
      padding: 2px 0;
      a {
        color: #767676;
        &:hover,
        &:focus {
          @include transition(all 0.2s ease-out 0s);
          color: #2db7f5;
          text-decoration: none;
        }
      }
    }
  }
  .search-item-list {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
    li {
      padding: 5px 0;
      border-top: 1px solid #cfcfcf;
      &:first-child {
        border-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
      a {
        &,
        &:hover,
        &:focus {
          @include transition(all 0.2s ease-out 0s);
          text-decoration: none;
        }
        &:hover,
        &:focus {
          span {
            color: #2db7f5;
          }
        }
      }
    }
  }
}

.search-media {
  display: table;
  width: 100%;
  &,
  .search-media-body {
    overflow: hidden;
    zoom: 1;
  }
  .search-media-left {
    padding-right: 10px;
    width: 50px;
  }
  .search-media-body {
    width: 10000px;
    span {
      display: block;
      color: #767676;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      @media (max-width: 690px) {
        max-width: 425px;
      }
      @media (max-width: 590px) {
        max-width: 379px;
      }
      @media (max-width: 390px) {
        max-width: 225px;
      }
      &.search-media-heading {
        font-weight: bold;
        color: #2c2c2c;
      }
    }
  }
  .img-object {
    display: block;
    width: 40px;
    height: 40px;
    max-width: inherit;
  }
  .search-media-left,
  .search-media-body {
    display: table-cell;
    vertical-align: middle;
  }
}

.open > .search-box-drop {
  display: block;
}


/*-----random-bg-----*/

.random-bg {
  @include border-radius(8px);
  display: block;
  min-height: 200px;
  &-1 {
    background-color: #949382;
  }
  &-2 {
    background-color: #9b8965;
  }
  &-3 {
    background-color: #ac9e86;
  }
  &-4 {
    background-color: #a68a72;
  }
  &-5 {
    background-color: #949382;
  }
  &-6 {
    background-color: #d5c3c1;
  }
  &-7 {
    background-color: #cfb19e;
  }
  &-8 {
    background-color: #b28d7a;
  }
  &-9 {
    background-color: #8a8781;
  }
  &-10 {
    background-color: #998174;
  }
}


/*----- tapAnimation----- */

@keyframes tapAnimation {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


/*----- animation image -----*/

@-webkit-keyframes smooth-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes smooth-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes smooth-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
