/*************************************
**************************************
These are the styles for
the stream page
**************************************
**************************************/

.container-masonry {
  @include clearfix();
  margin-top: 30px;
}


/* ---- grid-item ---- */

.grid-row {
  @include clearfix();
  position: relative;
  margin: 0;
  width: 100%;
  .grid-item {
    @include border-radius(8px);
    padding: 5px;
    margin-bottom: 10px;
    width: 20%;
    float: left;
    &::before {
      @include transform(scale(0.96));
      @include border-radius(8px);
      background: rgba(0, 0, 0, 0.05);
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      content: " ";
      height: 100%;
      width: 100%;
      pointer-events: none;
      z-index: 3;
    }
    &:hover::before {
      -webkit-animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
      animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
    }
    @media (max-width: 1050px) {
      width: 25%;
    }
    @media (max-width: 890px) {
      width: 33.33%;
    }
    @media (max-width: 690px) {
      width: 50%;
    }
    @media (max-width: 390px) {
      width: 100%;
    }
  }
}

.stream-list {
  margin: 20px 0;
  .stream-item {
    display: inline-block;
    text-decoration: none;
    span {
      padding: 10px 15px;
      display: block;
      border-bottom: 1px solid #e1e5eb;
      color: #7f8893;
      display: block;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 15px;
      text-transform: uppercase;
      width: 100%;
      &.active {
        color: #1a8dee;
        border-bottom-color: #1a8dee;
      }
    }
  }
}

.thumbnail-box {
  @include border-radius(8px);
  padding: 10px;
  .thumbnail {
    position: relative;
    overflow: hidden;
    .thumbnail-image {
      @include border-radius(8px);
      position: relative;
      overflow: hidden;
      &::before {
        @include border-radius(8px);
        @include abs-pos ($top: 0, $right: 0, $bottom: 0, $left: 0);
        content: "";
        height: 100%;
        width: 100%;
        z-index: 101;
        visibility: hidden;
        background: -webkit-linear-gradient(rgba(80, 80, 80, 0), rgba(80, 80, 80, 0.2) 70%, rgba(80, 80, 80, 0.5));
        background: linear-gradient(rgba(80, 80, 80, 0), rgba(80, 80, 80, 0.2) 70%, rgba(80, 80, 80, 0.5));
      }
    }
    .caption {
      padding-top: 15px;
      text-align: left;
      .caption-title {
        font-size: 0.875rem;
        line-height: 1.3125rem;
        font-weight: bold;
        a {
          color: #444;
          &:hover,
          &:focus {
            color: #1a8dee;
            text-decoration: none;
          }
        }
      }
      p {
        margin-bottom: 0.5rem;
        font-size: 0.75rem;
      }
    }
    .date-time {
      padding-top: 3px;
      font-size: 0.75rem;
      display: inline-block;
    }
    .rating {
      text-align: center;
      span {
        line-height: 18px;
      }
    }
    .btn-discovery {
      width: 30px;
      height: 30px;
      line-height: 26px;
      text-align: center;
    }
    &:hover .thumbnail-image::before {
      visibility: visible;
    }
    .btn-discovery {
      @include border-radius(3px);
      @include transform(translateY(-100px));
      @include transition(all 0.3s ease);
      @include abs-pos ($top: 8px, $right: 0, $bottom: 0, $left: 12px);
      z-index: 999;
      background-color: #fff;
      &:hover,
      &:focus {
        background-color: #efefef;
      }
    }
    &:hover,
    &:focus {
      .btn-discovery {
        @include transform(translateY(0));
        @include transition(all 0.3s ease);
      }
    }
  }
}


/*keyframes*/

@keyframes tapAnimation {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
