/*************************************
**************************************
These are the styles for
the stream page
**************************************
**************************************/

.container-masonry {
  @include clearfix();
  margin-top: 30px;
}


/* ---- grid-item ---- */

.grid-row {
  @include clearfix();
  position: relative;
  margin: 0;
  width: 100%;
  .grid-item {
    @include border-radius(8px);
    padding: 5px;
    margin-bottom: 10px;
    width: 20%;
    float: left;
    &::before {
      @include transform(scale(0.96));
      @include border-radius(8px);
      background: rgba(0, 0, 0, 0.05);
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      content: " ";
      height: 100%;
      width: 100%;
      pointer-events: none;
      z-index: 3;
    }
    &:hover::before {
      -webkit-animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
      animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
    }
    @media (max-width: 1050px) {
      width: 25%;
    }
    @media (max-width: 890px) {
      width: 33.33%;
    }
    @media (max-width: 690px) {
      width: 50%;
    }
    @media (max-width: 390px) {
      width: 100%;
    }
  }
}

.stream-list {
  margin: 20px 0;
  text-align: center;
  .stream-item {
    display: inline-block;
    text-decoration: none;
    font-family: 'Orbitron-Light';
    span {
      padding: 10px 8px;
      display: block;
      border-bottom: 1px solid #e1e5eb;
      color: #000;
      display: block;
      font-size: 0.75rem;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 15px;
      text-transform: uppercase;
      width: 100%;
      &.active {
        color: #1a8dee;
        border-bottom-color: #1a8dee;
      }
      &,
      &.active {
        @include transition(all 0.2s ease-out 0s);
      }
    }
  }
}

.nlp_topic {
  font-family: 'Courier New', sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 11px 4px 0;
  text-shadow: 1px 1px 2px gray;
  color: #000;
}

.nlp_score {
  font-family: 'Orbitron Light', sans-serif;
  padding: 0 2px;
  display: inline-block;
  color: #999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.thumbnail-box {
  @include border-radius(8px);
  padding: 10px;
  .thumbnail {
    position: relative;
    overflow: hidden;
    .thumbnail-image {
      @include border-radius(8px);
      position: relative;
      overflow: hidden;
      img {
        object-fit: contain;
        max-width: 335px;
        @media (max-width: 1450px) {
          max-width: 270px;
        }
        @media (max-width: 1050px) {
          max-width: 225px;
        }
        @media (max-width: 690px) {
          max-width: 250px;
        }
        @media (max-width: 490px) {
          max-width: 260px;
        }
      }
      &::before {
        @include border-radius(8px);
        @include abs-pos ($top: 0, $right: 0, $bottom: 0, $left: 0);
        content: "";
        height: 100%;
        width: 100%;
        z-index: 101;
        visibility: hidden;
        background: -webkit-linear-gradient(rgba(80, 80, 80, 0), rgba(80, 80, 80, 0.2) 70%, rgba(80, 80, 80, 0.5));
        background: linear-gradient(rgba(80, 80, 80, 0), rgba(80, 80, 80, 0.2) 70%, rgba(80, 80, 80, 0.5));
      }
    }
    .caption {
      padding-top: 15px;
      text-align: left;
      .caption-title {
        font-size: 0.875rem;
        line-height: 1.3125rem;
        font-weight: bold;
        a {
          color: #606162;
          &:hover,
          &:focus {
            color: #2db7f5;
            text-decoration: none;
          }
        }
      }
      p {
        margin-bottom: 0.5rem;
        font-size: 0.75rem;
      }
      .credit-info {
        font-size: 0.75rem;
        margin: 0;
        padding: 0 8px 3px;
        text-align: left;
        img {
          vertical-align: middle;
        }
      }
    }
    .date-time {
      padding-top: 3px;
      font-size: 0.75rem;
      display: inline-block;
    }
    .rating {
      text-align: center;
      span {
        line-height: 18px;
      }
    }
    .btn-discovery {
      width: 30px;
      height: 30px;
      line-height: 26px;
      text-align: center;
    }
    &:hover .thumbnail-image::before {
      visibility: visible;
    }
    .btn-discovery {
      @include border-radius(3px);
      @include transform(translateY(-100px));
      @include transition(all 0.3s ease);
      @include abs-pos ($top: 8px, $right: 0, $bottom: 0, $left: 12px);
      z-index: 999;
      background-color: #fff;
      &:hover,
      &:focus {
        background-color: #efefef;
      }
    }
    &:hover,
    &:focus {
      .btn-discovery {
        @include transform(translateY(0));
        @include transition(all 0.3s ease);
      }
    }
  }
}

.search-bar {
  padding: 10px 5px 10px 44px;
  background-position: 10px center;
  &,
  .kYyjtp {
    height: auto;
  }
  .ReactTags__tags {
    padding: 0;
  }
  .ReactTags__tagInput {
    vertical-align: middle;
  }
  .ReactTags__tagInputField {
    @include border-radius(4px);
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    }
  }
  .ReactTags__tagInputField::-moz-placeholder {
    color: #999;
    opacity: 1;
  }
  .ReactTags__tagInputField:-ms-input-placeholder {
    color: #999;
  }
  .ReactTags__tagInputField::-webkit-input-placeholder {
    color: #999;
  }
  .ReactTags__tagInputField::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  .ReactTags__tagInputField[disabled],
  .ReactTags__tagInputField[readonly] {
    background-color: #eee;
    opacity: 1;
  }
}


/*keyframes*/

@keyframes tapAnimation {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
