stanford-corenlp-full-2015-12-09/
bin/
obj/
TestResults/
.vs/
WebEssentials2015-Settings.json
.vs/config/applicationhost.config
*.cache
mm02ce/bin/
*.DS_Store
.vs/config/applicationhost.config
*.cache
.vs/config/applicationhost.config
*.suo
global/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
