/*************************************
**************************************
These are the styles for
the footer section
**************************************
**************************************/

footer.neal-footer {
  margin-top: 1rem;
  padding: 0.625rem 0;
  .neal-footer-copyright,
  address {
    margin-bottom: 0;
  }
  .neal-footer-copyright {
    margin-top: 5px;
  }
  .neal-footer-copyright,
  address {
    @media (max-width: 350px) {
      text-align: center;
    }
  }
  .neal-footer-social {
    flex-direction: row;
    .neal-footer-social-icon {
      margin-left: 0.625rem;
      @media (max-width: 350px) {
        margin-left: 0;
      }
    }
    @media (max-width: 350px) {
      margin-top: 5px;
      float: none !important;
      justify-content: center;
    }
  }
}
