/*************************************
**************************************
These are the styles for
the form section
**************************************
**************************************/

.form-signup {
  .form-group {
    margin: 1rem 0;
  }
  .form-control {
    @include border-radius(3px);
    padding: 0.625rem 0.875rem;
  }
  .btn-signin {
    @include border-radius(4px);
    margin-bottom: 1rem;
    padding: 0.6875rem 0.75rem 0.625rem;
    font-weight: 600;
    font-size: 0.9375rem;
    color: #fff;
    width: 100%;
    display: block;
    text-transform: uppercase;
    background-color: #51c04e;
    border: 1px solid #51c04e;
    &:hover,
    &:focus {
      color: #fff;
      border: 1px solid #5ddb5a;
      background-color: #5ddb5a
    }
  }
  .wrap-label {
    overflow: hidden;
    text-align: center;
    margin-bottom: 15px;
    .title {
      display: inline-block;
      text-transform: uppercase;
      position: relative;
      padding: 0 15px;
      font-size: 16px;
      font-weight: 600;
      color: #7f8893;
      &:after,
      &:before {
        content: "";
        height: 1px;
        width: 200px;
        background-color: #ccc;
        position: absolute;
        top: 10px
      }
      &:before {
        right: 100%
      }
      &:after {
        left: 100%
      }
    }
  }
}

.paragraph-question {
  margin: 20px 0 0;
  color: #7f8893;
  text-align: center;
  a {
    color: #1b8ff2;
  }
}

.social-action {
  @include clearfix();
  .btn-google {
    float: left;
  }
  .btn-facebook {
    float: right;
  }
}
