/*************************************
**************************************
These are the styles for
the header section
**************************************
**************************************/

.neal-navbar-wrapper {
  position: relative;
  z-index: 100;
  .header-nav {
    height: 72px;
    background-color: #fff;
    border-bottom: 1px solid #e1e5eb;
    .container {
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    .navbar-brand {
      padding: 0;
      float: left;
      .logo {
        padding: 0;
      }
      &.hidden-sm-down {
        @media (max-width: 767px) {
          display: block !important;
        }
      }
    }
    .navbar-toggler {
      cursor: pointer;
      @media (max-width: 767px) {
        @include border-radius(3px);
        margin-top: 9px;
        float: right;
        border: 1px solid #ccc;
        padding: 0.5rem 0.75rem;
      }
    }
    .navbar-toggleable-sm {
      padding: 0.6rem 0;
      float: right;
      .nav {
        .nav-item {
          a {
            margin: 0.7rem 0 0.6rem;
            color: #222;
            font-weight: 700;
            font-size: 0.875rem;
            line-height: 1rem;
            display: block;
            text-transform: uppercase;
            &:hover,
            &:focus {
              color: #2db7f5;
              text-decoration: none;
            }
            &,
            &:hover,
            &:focus {
              @include transition(all 0.2s ease-out 0s);
            }
            @media (max-width: 768px) {
              margin: 0.4375rem 0;
            }
          }
          &.active {
            a {
              color: #2db7f5;
            }
          }
          @media (max-width: 990px) {
            padding: 0 1rem;
          }
        }
      }
    }
    .logo {
      .iSrAXa {
        position: relative;
      }
      .stamp-logo {
        @include abs-pos ($top: 0, $right: auto, $bottom: auto, $left: -25px);
        background: url('/static/images/demo.png') no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
        @media (max-width: 690px) {
          display: none;
        }
      }
      .text-logo {
        @include transition(transform 200ms ease-in);
        margin: 0;
        display: inline-block;
        color: #999;
        font-size: 3rem;
        line-height: 2.625rem;
        font-family: 'rokkittsemibold';
        font-weight: normal;
        text-shadow: 0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8);
        @media (max-width: 690px) {
          display: none;
        }
      }
      .fSBjqc,
      .dbtaox {
        margin-left: 0;
      }
      .fSBjqc {
        margin-top: 7px;
      }
      .fnsJiL {
        margin-top: 24px;
        @media (max-width: 340px) {
          display: none;
        }
      }
      .hReOhH {
        margin-top: 21px;
        float: none;
        color: #222;
        display: inline-block;
      }
      .paragraph-smarter {
        @media (max-width: 990px) {
          display: none;
        }
      }
    }
    .neal-mobile-nav {
      position: absolute;
      top: 54px;
      left: auto;
      right: 15px;
      z-index: 1000;
      padding: 0.4375rem 0;
      margin: 0;
      float: left;
      min-width: 150px;
      font-size: 14px;
      text-align: left;
      list-style: none;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, .15);
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      &::after,
      &::before {
        bottom: 100%;
        left: 126px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &::after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 7px;
        margin-left: -7px;
      }
      &::before {
        border-color: rgba(204, 204, 204, 0);
        border-bottom-color: #cccccc;
        border-width: 8px;
        margin-left: -8px;
      }
      .btn-login,
      .btn-logout {
        color: #222;
        &,
        &:hover,
        &:focus {
          @include box-shadow(none);
          background: none;
          padding: 0;
          margin: 0.4375rem 0;
          font-weight: 700;
          font-size: 0.875rem;
          line-height: 1rem;
          border: 0;
          text-transform: uppercase;
        }
        &:hover,
        &:focus {
          color: #2db7f5;
        }
      }
    }
  }
}
