/*************************************
**************************************
These are the styles for
the main-content section
**************************************
**************************************/

.neal-page {
  position: relative;
  min-height: 650px;
  padding-bottom: 68px;
}

.container {
  @media (min-width: 576px) {
    width: 100%;
  }
}


/*grid tab layout*/

.wrap-main {
  @include clearfix();
  height: 100%;
  background-color: #fff;
  .slidebar-nav {
    float: left;
    width: 120px;
    min-height: 100%;
    background-color: #fff;
  }
  .main-content {
    @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.22));
    margin-left: 122px;
    padding: 0;
    background-color: #fff;
    min-height: 500px;
    .wrap-main {
      height: auto;
      background: none;
      &:before,
      &:after {
        content: "";
        display: none;
      }
      &:after {
        clear: none;
      }
    }
  }
  &.wrap-toggle {
    .slidebar-nav {
      width: 68px;
      .stream-text {
        display: none;
      }
    }
    .main-content {
      margin-left: 70px;
    }
    .react-tabs {
      .ReactTabs__TabList {
        .ReactTabs__Tab {
          padding: 7px 3px;
          min-height: inherit;
        }
      }
    }
  }
}

.main-inner {
  @include clearfix();
  padding: 0 15px;
}
