/*************************************
**************************************
These are the styles for
the main-content section
**************************************
**************************************/

body {
  font-family: 'Roboto';
}

.neal-page {
  position: relative;
  min-height: 650px;
  padding-bottom: 68px;
}

.container {
  @media (min-width: 576px) {
    width: 100%;
  }
}
