/*************************************
**************************************
These are the styles for
the main-content section
**************************************
**************************************/

.neal-page, {
  min-height: 400px;
}

.container {
  @media (min-width: 576px) {
    width: 100%;
  }
}
