/*************************************
**************************************
These are the styles for
the main-content section
**************************************
**************************************/

body {
  color: #404040;
}


/*-----container-----*/

.neal-page {
  position: relative;
  min-height: 750px;
  padding-bottom: 68px;
}

.container {
  @media (min-width: 576px) {
    width: 100%;
  }
}


/*grid tab layout*/

.wrap-main {
  @include clearfix();
  height: 100%;
  background-color: #fff;
  .slidebar-nav {
    min-height: 100%;
    background-color: #fff;
    @media (max-width: 590px) {
      float: none;
      width: 100%;
    }
  }
  .main-content {
    padding: 0;
    background-color: #fff;
    .wrap-main {
      height: auto;
      background: none;
      &:before,
      &:after {
        content: "";
        display: none;
      }
      &:after {
        clear: none;
      }
    }
    @media (max-width: 590px) {
      margin-left: 0;
    }
  }
  &.wrap-toggle {
    .slidebar-nav {
      position: relative;
      z-index: 1000;
    }
    .react-tabs {
      .react-tabs__tab-list {
        overflow: visible;
        .stream-symbol {
          .fa {
            min-width: 35px;
          }
        }
        .stream-symbol[data-tooltip] {
          position: relative;
          display: inline;
          &:after,
          &:before {
            @include transition(transform 200ms ease, opacity 200ms);
            position: absolute;
            visibility: hidden;
            opacity: 0;
            z-index: 99;
          }
          &:before {
            @include border-radius(5px);
            content: attr(data-tooltip);
            background: #2db7f5;
            color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            font-weight: bold;
            padding: 10px 15px;
            font-size: 10px;
            white-space: nowrap;
            text-decoration: none;
            text-transform: uppercase;
          }
          &:after {
            width: 0;
            height: 0;
            border: 6px solid transparent;
            content: '';
          }
          &:hover:after,
          &:hover:before {
            @include transform (translateY(0));
            visibility: visible;
            opacity: 0.85;
          }
          &:before,
          &:after {
            @include transform (translateX(0));
            @media (max-width: 390px) {
              opacity: 0;
              display: none;
              visibility: hidden;
            }
          }
          &:hover:after,
          &:hover:before {
            @include transform (translateX(10px));
            @media (max-width: 390px) {
              opacity: 0;
              display: none;
              visibility: hidden;
            }
          }
        }
        // right tooltip
        .stream-symbol[data-tooltip][data-position="right"]:before {
          top: 0;
          left: 100%;
          margin-left: 6px;
        }
        .stream-symbol[data-tooltip][data-position="right"]:after {
          border-right-color: #2db7f5;
          border-left: none;
          top: 50%;
          left: 100%;
          margin-top: -6px;
        }
        .react-tabs__tab {
          padding: 7px 3px;
          min-height: inherit;
          @media (max-width: 590px) {
            padding: 7px 20px;
            display: inline-block;
            border-right: 1px solid #e1e5eb;
          }
          &:first-child {
            @media (max-width: 590px) {
              border-left: 1px solid #e1e5eb;
            }
          }
        }
        @media (max-width: 590px) {
          overflow: hidden;
        }
      }
    }
  }
}

.main-inner {
  @include clearfix();
  padding: 0 15px;
  min-height: 100px;
}
