/*************************************
**************************************
These are the styles for
the tab section
**************************************
**************************************/

.react-tabs {
  @include clearfix();
  text-align: center;
  .react-tabs__tab-list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #e1e5eb;
    .stream-symbol {
      display: block;
      color: #404040;
      font-size: 2rem;
    }
    .react-tabs__tab {
      @include transition(all 0.3s ease-in-out);
      @include box-shadow(none);
      padding: 20px 3px;
      font-size: 0.875rem;
      display: block;
      color: #212121;
      text-align: center;
      border: 0;
      border-bottom: 1px solid #e1e5eb;
      min-height: 90px;
    }
    .react-tabs__tab--selected {
      @include transition(all 0.3s ease-in-out);
      @include border-radius(0);
      color: #212121;
      background-color: #fff;
      .stream-symbol {
        color: #2db7f5;
      }
    }
  }
  .react-tabs__tab-panel {
    @include transition(all 0.2s ease-in-out);
    opacity: 0;
    overflow: hidden;
    &.react-tabs__tab-panel--selected {
      @include transition(all 0.2s ease-in-out);
      opacity: 1;
    }
    @media (max-width: 890px) {}
  }
}
