/*************************************
**************************************
These are the styles for
the tab section
**************************************
**************************************/

.react-tabs {
  @include clearfix();
  text-align: center;
  .ReactTabs__TabList {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #1c1f24;
    .stream-symbol {
      display: block;
      color: #96a7b5;
      font-size: 1rem;
    }
    .ReactTabs__Tab {
      @include transition(all 0.3s ease-in-out);
      padding: 30px 5px;
      font-size: 0.875rem;
      display: block;
      color: #8c9caa;
      text-align: center;
      border: 0;
      border-top: 1px solid #323743;
      border-bottom: 1px solid #1c1f24;
      min-height: 90px;
    }
    .ReactTabs__Tab--selected {
      @include transition(all 0.3s ease-in-out);
      @include border-radius(0);
      color: #fff;
      background-color: #222428;
      .stream-symbol {
        color: #fff;
      }
    }
  }
  .ReactTabs__TabPanel {
    @include clearfix();
    @include transition(all 0.2s ease-in-out);
    opacity: 0;
    &.ReactTabs__TabPanel--selected {
      @include transition(all 0.2s ease-in-out);
      opacity: 1;
    }
    h1 {
      margin: 10px 0 30px;
      color: #2db7f5;
    }
    @media (max-width: 890px) {
      padding: 10px 0;
    }
  }
}
