/*************************************
**************************************
These are the styles for
the tab section
**************************************
**************************************/

.react-tabs {
  @include clearfix();
  .slidebar-nav {
    @include clearfix();
    padding: 0 0 0 1px;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #e1e5eb;
    .stream-symbol {
      display: block;
      color: #404040;
      font-size: 1.3rem;
    }
    .stream-text {
      font-weight: bold;
    }
    .react-tabs__tab {
      @include transition(all 0.3s ease-in-out);
      @include box-shadow(none);
      position: relative;
      margin: 0 -1px -1px 0;
      font-size: 0.875rem;
      float: left;
      display: block;
      color: #212121;
      border: 0;
      border-top: 3px solid #fff;
      border-left: 1px solid #e1e5eb;
      border-right: 1px solid #e1e5eb;
      text-align: center;
      cursor: pointer;
      .stream-tabs {
        padding: 8px 15px 9px;
        border: 0;
      }
      @media (max-width: 590px) {
        float: none;
        display: inline-block;
      }
    }
    .react-tabs__tab--selected {
      @include transition(all 0.3s ease-in-out);
      @include border-radius(0);
      color: #212121;
      background-color: #fff;
      border-top: 3px solid #2db7f5;
      .stream-symbol,
      .stream-text {
        color: #2db7f5;
      }
      .stream-tabs {
        background-color: #fff;
      }
    }
    @media (max-width: 590px) {
      text-align: center;
    }
  }
  .react-tabs__tab-panel {
    @include transition(all 0.2s ease-in-out);
    opacity: 0;
    overflow: hidden;
    &.react-tabs__tab-panel--selected {
      @include transition(all 0.2s ease-in-out);
      opacity: 1;
    }
    @media (max-width: 890px) {}
  }
}
