/*************************************
**************************************
These are the styles for
the tab section
**************************************
**************************************/

.react-tabs {
  margin-top: 30px;
  text-align: center;
  .ReactTabs__TabList {
    border-bottom: 3px solid #2db7f5;
    [role="tab"] {
      font-size: 1.275rem;
    }
    [role="tab"][aria-selected="true"] {
      @include border-radius(0);
      color: #fff;
      border-color: #2db7f5;
      background-color: #2db7f5;
    }
  }
  .ReactTabs__TabPanel {
    @include transition(all 0.2s ease-in-out);
    padding: 10px 30px;
    opacity: 0;
    transform: translateY(20%);
    &.ReactTabs__TabPanel--selected {
      transition: all 0.2s ease-in-out;
      opacity: 1;
      transform: translateY(0);
    }
    h1{
    	margin: 10px 0 30px;
    	color: #2db7f5;
    }
  }
}
