/*************************************
**************************************
These are the styles for
the tab section
**************************************
**************************************/

.react-tabs {
  @include clearfix();
  .slidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #e1e5eb;
    .stream-symbol {
      display: block;
      color: #404040;
      font-size: 2rem;
    }
    .stream-text {
      font-weight: bold;
    }
    .react-tabs__tab {
      @include transition(all 0.3s ease-in-out);
      @include box-shadow(none);
      padding: 10px 21px 10px 22px;
      font-size: 0.875rem;
      display: inline-block;
      color: #212121;
      border: 0;
      border-right: 1px solid #e1e5eb;
      min-height: 68px;
      text-align: center;
      cursor: pointer;
      &:first-child{
        border-left: 1px solid #e1e5eb;
      }
    }
    .react-tabs__tab--selected {
      @include transition(all 0.3s ease-in-out);
      @include border-radius(0);
      color: #212121;
      background-color: #fff;
      .stream-symbol,
      .stream-text {
        color: #2db7f5;
      }
    }
    @media (max-width: 590px) {
      text-align: center;
    }
  }
  .react-tabs__tab-panel {
    @include transition(all 0.2s ease-in-out);
    opacity: 0;
    overflow: hidden;
    &.react-tabs__tab-panel--selected {
      @include transition(all 0.2s ease-in-out);
      opacity: 1;
    }
    @media (max-width: 890px) {}
  }
}
