/*************************************
**************************************
These are the styles for
the tab section
**************************************
**************************************/

.react-tabs {
  @include clearfix();
  text-align: center;
  .ReactTabs__TabList {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #e1e5eb;
    .stream-symbol {
      display: block;
      color: #404040;
      font-size: 2rem;
    }
    .ReactTabs__Tab {
      @include transition(all 0.3s ease-in-out);
      @include box-shadow(none);
      padding: 20px 3px;
      font-size: 0.875rem;
      display: block;
      color: #212121;
      text-align: center;
      border: 0;
      border-bottom: 1px solid #e1e5eb;
      min-height: 90px;
    }
    .ReactTabs__Tab--selected {
      @include transition(all 0.3s ease-in-out);
      @include border-radius(0);
      color: #212121;
      background-color: #fff;
      .stream-symbol {
        color: #2db7f5;
      }
    }
  }
  .ReactTabs__TabPanel {
    @include transition(all 0.2s ease-in-out);
    opacity: 0;
    overflow: hidden;
    &.ReactTabs__TabPanel--selected {
      @include transition(all 0.2s ease-in-out);
      opacity: 1;
    }
    h1 {
      margin: 10px 0 30px;
      color: #2db7f5;
    }
    @media (max-width: 890px) {}
  }
}
