/*************************************
**************************************
These are the styles for
the tab section
**************************************
**************************************/

.react-tabs {
  margin-top: 15px;
  text-align: center;
  .ReactTabs__TabList {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    border-bottom: 3px solid #2db7f5;
    .ReactTabs__Tab {
      @include transition(all 0.3s ease-in-out);
      padding: 10px 25px;
      font-size: 1.275rem;
      display: inline-block;
    }
    .ReactTabs__Tab--selected {
      @include transition(all 0.3s ease-in-out);
      @include border-radius(0);
      color: #fff;
      border-color: #2db7f5;
      background-color: #2db7f5;
    }
  }
  .ReactTabs__TabPanel {
    @include clearfix();
    @include transition(all 0.2s ease-in-out);
    padding: 0;
    opacity: 0;
    &.ReactTabs__TabPanel--selected {
      @include transition(all 0.2s ease-in-out);
      opacity: 1;
    }
    h1 {
      margin: 10px 0 30px;
      color: #2db7f5;
    }
    @media (max-width: 890px) {
      padding: 10px 0;
    }
  }
}
