/*************************************
**************************************
These are the styles for
the tab section
**************************************
**************************************/

.react-tabs {
  margin-top: 30px;
  text-align: center;
  .ReactTabs__TabList {
    border-bottom: 3px solid #2db7f5;
    [role="tab"] {
      @include transition(all 0.3s ease-in-out);
      padding: 10px 25px;
      font-size: 1.275rem;
    }
    [role="tab"][aria-selected="true"] {
      @include transition(all 0.3s ease-in-out);
      @include border-radius(0);
      color: #fff;
      border-color: #2db7f5;
      background-color: #2db7f5;
    }
  }
  .ReactTabs__TabPanel {
    @include transition(all 0.2s ease-in-out);
    padding: 10px 15px;
    opacity: 0;
    &.ReactTabs__TabPanel--selected {
      @include transition(all 0.2s ease-in-out);
      opacity: 1;
    }
    h1 {
      margin: 10px 0 30px;
      color: #2db7f5;
    }
    @media (max-width: 890px) {
      padding: 10px 0;
    }
  }
}
