.maomao-ext-component {
  .fa {
    font-family: FontAwesome !important;
  }
  .fa-facebook,
  .fa-google-plus {
    font-size: 16px !important;
  }
  .fa-close {
    font-size: 20px !important;
  }
  @import 'utils/all';
  @import 'base/all';
  @import 'components/all';
  @import 'themes/all';
}
