<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Maomao Extension</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <environment names="Development">
        <link rel="stylesheet" href="~/css/styles.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/styles.min.css" asp-append-version="true" />
    </environment>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/onkinoggpeamajngpakinabahkomjcmk">
</head>
<body>
    <header>
		<h2><a asp-area="" asp-controller="Home" asp-action="Index">Maomao Extension</a></h2>
		<nav>
			<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
			<li><a asp-area="" asp-controller="Extension" asp-action="Index">Extension</a></li>
			<li><a asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
		</nav>
	</header>
    @RenderBody()
    <footer>
      <ul>
        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
        <li><a href="#"><i class="fa fa-github-square""></i></a></li>
      </ul>
      <p>Made with love by <a href="http://maomao.rocks/" target="_blank">MaoMao</a>.</p>
	  </footer>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
