@{
    ViewData["Title"] = "About";
    Layout = "_LayoutExtension";
}
<section class="hero">
    <div class="background-image" style="background-image: url(images/hero.jpg);"></div>
    <h1>Maomao Rock</h1>
    <h3>An awesome chrome extention.</h3>
    <a href="#" class="btn">Install Now</a>
</section>

<section class="reviews">
    <h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>
    <p>Use this area to provide additional information.</p>
</section>
