@font-face {
    font-family: 'Courier New';
    src: url('fonts/CourierNew/Courier New.eot');
    src: url('fonts/CourierNew/Courier New.woff2') format('woff2'), url('fonts/CourierNew/Courier New.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CourierNewPSMT';
    src: url('fonts/CourierNew/CourierNewPSMT.woff') format('woff'), url('fonts/CourierNew/CourierNewPSMT.ttf') format('truetype'), url('fonts/CourierNew/CourierNewPSMT.svg#CourierNewPSMT') format('svg');
    font-weight: normal;
    font-style: normal;
}