$logo-img: url('./images/dog_blue.png');
$close-btn-img: url('./images/close_button.png');
$logo-mao: './images/maomao.png';
$lab-icons: url('./images/icons-lab.png');

/*distance box*/

.m0 {
  margin: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mr0 {
  margin-right: 0px !important;
}

.p0 {
  padding: 0 !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pr0 {
  padding-right: 0px !important;
}


/*popup browser*/

.popup-browser {
  animation: vex-flyin 0.5s;
  .maomao-logo {
    margin-right: 3px;
    width: 35px;
    height: 35px;
    display: inline-block;
    background: $logo-img;
    vertical-align: middle;
    background-size: contain;
    animation: zoomInLogo 1.5s both;
    transition: all 0.2s ease-in-out;
  }
  .share-heading {
    text-align: center;
    font-size: 32px;
    line-height: 27px;
    padding-bottom: 13px;
    text-transform: none;
    border-bottom: 1px solid #c5c5d0;
    transition: transform 200ms ease-in;
    color: #999;
    font-family: 'rokkittsemibold';
    text-shadow: 0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8);
    a {
      color: #999;
      text-decoration: none;
      display: inline-block;
      .maomao-text {
        display: inline-block;
        width: 165px;
        height: 24px;
        vertical-align: middle;
        margin-left: 7px;
        background: url($logo-mao) no-repeat;
      }
      &:hover,
      &:focus {
        .maomao-logo {
          transform: rotate(7deg);
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}

.circle-share {
  margin: 20px auto;
  width: 230px;
  height: 230px;
  display: table;
  border-radius: 50%;
  border: 2px solid #4fb6ec;
  .circle-inner {
    display: table-cell;
    vertical-align: middle;
  }
  .share-options {
    margin: 0 !important;
    height: auto !important;
    width: auto !important;
    button {
      margin: 5px 0 !important;
      min-width: 150px;
      color: #fff;
      &,
      &:hover,
      &:active {
        transition: all 0.2s ease-in-out;
      }
    }
  }
  &::after {
    animation: rotate-circle 1s linear infinite;
    content: '';
    display: block;
    width: 233px;
    height: 233px;
    position: absolute;
    top: -3px;
    left: -3px;
    border: 5px solid transparent;
    border-top-color: #4fb6ec;
    border-radius: 50%;
  }
  .paragraph-share {
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    display: table-cell;
    vertical-align: middle;
  }
}

.popup-content {
  padding: 20px 7px;
  min-width: 340px;
  text-align: center;
  .power-group {
    margin: 0 auto 10px;
    min-height: 117px;
    max-width: 117px;
    background: none;
    border: 0;
    padding: 0;
    transform-origin: center bottom 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: all 0.2s ease-in-out;
    .power-button {
      width: 117px;
      height: 117px;
      margin-bottom: 15px;
      border-radius: 50%;
      background: #eb3a28;
      background: linear-gradient(#eb3a28, #bd2213);
      position: relative;
      cursor: pointer;
      padding: 14px;
      .power-inner {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background: linear-gradient(#d83625, #e83523);
        display: block;
        box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.05), 0 2px 5px rgba(255, 255, 255, 0.1);
        &:after {
          position: absolute;
          width: 40px;
          height: 40px;
          background: white;
          background: #fff;
          left: 50%;
          top: 50%;
          content: "";
          border-radius: inherit;
          margin: -20px 0 0 -20px;
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        }
        &:before {
          position: absolute;
          content: "";
          width: 30px;
          height: 30px;
          left: 50%;
          top: 50%;
          border-radius: inherit;
          background: inherit;
          margin: -15px 0 0 -15px;
          z-index: 2;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(255, 255, 255, 1);
        }
        span {
          display: block;
          width: 16px;
          height: 16px;
          background: linear-gradient(#d83625, #e83523);
          position: absolute;
          left: 50%;
          margin-left: -8px;
          top: 24px;
          z-index: 3;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            width: 6px;
            height: 20px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
            left: 50%;
            top: 0;
            margin-left: -3px;
          }
        }
      }
      &:before {
        content: "";
        position: absolute;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        z-index: -1;
        border-radius: inherit;
        -webkit-filter: blur(1px);
        filter: blur(1px);
      }
      &:after {
        content: "";
        position: absolute;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        z-index: -2;
        border-radius: inherit;
      }
    }
    &:active {
      transform: matrix(0.95, 0, 0, 0.95, 0, 0);
      transition: all 0.2s ease-in-out;
    }
  }
  p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
}

.toolbar-button {
  padding: 20px 0 10px;
  border-top: 1px solid #c5c5d0;
  text-align: center;
  button {
    padding: 0;
    margin: 0 15px;
    display: inline-block;
    border: 0;
    width: 50px;
    height: 50px;
    transition: transform 800ms;
    position: relative;
    z-index: 100;
    box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 1);
    &,
    &:hover,
    &:active {
      transition: all 0.2s ease-in-out;
    }
    &:nth-child(4) {
      border: 1px solid #ccc;
      border-radius: 50%;
      background-size: 58%;
      background-position: center center;
    }
    &:before {
      content: '';
      transform: scale(0.7);
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      pointer-events: none;
      opacity: 1;
      z-index: -1;
    }
    &:nth-child(1) {
      &:before {
        box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 1);
      }
    }
    &:nth-child(2) {
      &:before {
        box-shadow: 0px 0px 8px 2px rgba(60, 90, 154, 0.53);
      }
    }
    &:nth-child(3) {
      &:before {
        box-shadow: 0px 0px 8px 2px rgba(0, 132, 255, 0.53);
      }
    }
    &:nth-child(4) {
      &:before {
        box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 1);
      }
    }
    &:after {
      transition: opacity 600ms, transform 800ms;
      content: '';
      line-height: 50px;
      transform: translate3d( 0, 0, 0);
      opacity: 1;
    }
    &:hover {
      transform: scale( 1.2);
      transition: transform 800ms, background-color 800ms;
      &:after {
        transform: translate3d( 0, -25px, 0);
        opacity: 0;
      }
      &:before {
        transition: transform 800ms, opacity 1000ms;
        transform: scale( 1.5);
        opacity: 0;
        z-index: 1;
      }
    }
    &:hover {
      &:nth-child(1) {
        &:before {
          box-shadow: 0px 0px 8px 2px rgba(255, 77, 37, 0.53);
        }
      }
      &:nth-child(4) {
        &:before {
          box-shadow: 0px 0px 8px 2px rgba(181, 180, 180, 0.53);
        }
      }
    }
  }
}

.select-cn-title {
  margin: 20px 0 15px;
  color: #606162;
  font-size: 20px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.share-topic {
  text-align: center;
  .share-topic-title {
    float: left;
  }
  .share-experiment-title{
    display: inline-block;
  }
  .share-topic-title,
  .share-experiment-title {
    padding-right: 5px;
    font-size: 17px;
    line-height: 19px;
    color: #2db7f5;
    text-align: right;
  }
  .switch-list {
    @include clearfix();
    margin: 10px 0 15px;
    text-align: left;
    .checkbox__content {
      overflow: hidden;
    }
    .checkbox__row {
      margin-top: 10px;
      .checkbox__styled {
        padding: 0 7px;
        display: inline-block;
      }
    }
    .radio__row {
      margin-top: 10px;
      .radio__regular {
        padding: 0 7px;
        display: inline-block;
      }
    }
    .switch-select {
      padding: 0 0 0 7px;
      overflow: hidden;
      > div {
        margin-right: 10px;
        display: inline-block !important;
        width: auto !important;
      }
      .type-name {
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
      }
    }
  }
}


/* Regular checkbox*/

.checkbox__styled {
  .checkbox__styled__input {
    display: none;
    opacity: 0;
    &:checked {
      + .checkbox__styled__label {
        &::after {
          @include abs-pos ($top: 7px, $right: auto, $bottom: auto, $left: 11px);
          transition: all .3s ease;
          transform: rotate(45deg) scale(1);
          content: " ";
          display: block;
          width: 9px;
          height: 15px;
          border: solid #fff;
          border-width: 0 .2rem .2rem 0;
        }
        &::before {
          background: #fa943e;
          border: 1px solid #fcb173;
        }
      }
    }
  }
  .checkbox__styled__label {
    position: relative;
    padding-left: 40px;
    margin-bottom: 0;
    font-weight: normal;
    display: block;
    cursor: pointer;
    font-size: 15px;
    line-height: 34px;
    min-height: 33px;
    &::after {
      @include abs-pos ($top: 7px, $right: auto, $bottom: auto, $left: 11px);
      transition: all .3s ease;
      transform: rotate(45deg) scale(1.5);
      content: " ";
      display: block;
      width: 9px;
      height: 15px;
      font-size: 19px;
      border: solid #fff;
      border-width: 0 .2rem .2rem 0;
    }
    &::before {
      @include abs-pos ($top: 0.1rem, $right: auto, $bottom: auto, $left: 0);
      transition: all .3s ease;
      content: " ";
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      border-radius: 2px;
      background: #fff;
      border: 1px solid #ccc;
    }
    &:empty::before {
      margin-right: 0;
    }
  }
}

.radio__regular {
  .radio__regular__input {
    opacity: 0;
    position: absolute;
    + .radio__regular__label {
      position: relative;
      padding: 0 20px 0 40px;
      margin-bottom: 0;
      font-weight: normal;
      display: block;
      font-size: 15px;
      min-height: 33px;
      line-height: 30px;
      cursor: pointer;
      outline: 0;
      .labs {
        padding-right: 20px;
        display: inline-block;
        &:hover{
          background: $lab-icons no-repeat right center;
        }
      }
      &::before {
        @include abs-pos ($top: 0.1rem, $right: auto, $bottom: auto, $left: 0);
        transition: all .3s ease;
        border-radius: 50%;
        content: '';
        background: #fff;
        border: 0.2rem solid #ccc;
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        vertical-align: middle;
        cursor: pointer;
        text-align: center;
      }
    }
    &:checked + .radio__regular__label::before {
      transform: scale(1);
      transition: all .3s ease;
      background: #2db7f5;
      box-shadow: inset 0 0 0 0.3rem #fff;
    }
    :focus + .radio__regular__label::before {
      outline: 0;
      border-color: #ccc;
    }
    + .radio__regular__label:empty::before {
      margin-right: 0;
    }
  }
}


/*animation rotate circle*/

@keyframes rotate-circle {
  70% {
    -webkit-transform: rotate(250deg);
    transform: rotate(250deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes vex-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*animation logo*/

@-webkit-keyframes zoomInLogo {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomInLogo {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
