// ----- @import partials ----- //

@import "partials/button";
@import "partials/header";
@import "partials/footer";
@import "partials/form";
@import "partials/modal";
@import "partials/reset-intervale";
