// ----- @import partials ----- //
@import "partials/reset-intervale";
@import "partials/fonts";
@import "partials/icons";
@import "partials/button";
@import "partials/header";
@import "partials/footer";
@import "partials/main-content";
@import "partials/form";
@import "partials/modal";
@import "partials/tabs";
@import "partials/dropdown_menu";
@import "partials/grid_category";
@import "partials/share";
