.blur {
    color: #FFF;
    font-weight: bold;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.25);
    background: rgba(230,240,255,0.4);
    border: 6px dashed transparent;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

.blur:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0; right: 0; left: 0;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}
