$logo-img: url('./images/dog_blue.png');
$close-btn-img: url('./images/close_button.png');
.react-blur-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#canvas {
    opacity: 1;
    display: block;
    bottom: 3px;
}

#html2canvas {
    width: 100vw;
    position: absolute;
    left: 0;
    margin-left: calc(-1 * ((100vw - 100%) / 2));
}

.blurred {
    position: fixed;
    overflow: inherit;
    bottom: 30px;
    left: 50%;
    right: 50%;
    width: fit-content;
    z-index: 10000;
}

.blurred .inner_bg {
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding: 2px 4px;
    border-radius: 8px;
}

.blurred .close_button {
    z-index: 1000;
    position: fixed;
    width: 40px;
    height: 40px;
    top: -16px;
    right: -16px;
    background: $close-btn-img no-repeat center center;
}

.nlp_topic {
    font-family: 'Courier New', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 0 4px;
    text-shadow: 1px 1px 2px gray;
    float: left;
    z-index: 1;
}

.nlp_score {
    font-family: 'Orbitron Light', sans-serif;
    font-size: 14px;
    padding: 0 4px;
    color: #999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    float: right;
    min-width: 130px;
    z-index: 1;
}

.blur {
    color: #FFF;
    font-weight: bold;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    background: rgba(230, 240, 255, 0.4);
    border: 6px dashed transparent;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

.blur:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
}

.tlt.glow {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
}

.tlt.glow.in {
    text-shadow: 0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8), 0 0 0.5em rgba(255, 255, 255, 0.3);
}

.tlt.fade {
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

.tlt.fade.in {
    opacity: 1;
}

.maomao-logo {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    max-width: 128px;
    max-height: 128px;
    width: 40px;
    height: 40px;
    background: $logo-img;
    background-size: contain;
}