$logo-img: url('./images/dog_blue.png');
$close-btn-img: url('./images/close_button.png');
$facebook-icons: './images/facebook_icon.svg';
$google-icons: './images/googleplus_icon.svg';
$signout-icons: './images/signout_icon.svg';
$close-icons: './images/close_icon.svg';
$content-icons: './images/icons-content.png';
$share-icons: './images/icons-share.png';
$success-icons: './images/icons-success.png';

/*distance box*/

.m0 {
  margin: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mr0 {
  margin-right: 0px !important;
}

.p0 {
  padding: 0 !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.react-blur-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas {
  opacity: 1;
  display: block;
  bottom: 3px;
}

#html2canvas {
  width: 100vw;
  position: absolute;
  left: 0;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
}

.blurred {
  position: fixed;
  overflow: inherit;
  bottom: 20px;
  left: 50%;
  right: 50%;
  min-width: 300px;
  width: fit-content;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 7px;
  padding: 15px 15px 15px 50px;
  background-position: 14px center;
  z-index: 9999;
  background-color: #fff;
  background-image: $logo-img;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 32px;
  animation: vex-flyin 0.5s;
  overflow-scrolling: touch;
  box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  .close_button {
    right: -32px;
    top: -32px;
  }
  .inner_bg {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nlp_topic,
  .nlp_score {
    padding-top: 0 !important;
  }
  .nlp_topic {
    max-width: 590px;
    overflow: hidden;
    text-align: justify;
  }
  .nlp_score {
    min-width: 120px;
  }
  .share-button {
    float: right;
    max-width: 74px;
  }
}

.share-button {
  float: left;
  color: #fff;
  margin: 3px 0 4px 0;
  background-color: #11c759;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  &:focus,
  &:active:focus,
  {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &:active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #2de475;
  }
  &,
  &:hover,
  &:focus,
  &:active {
    transition: all 0.2s ease-in-out;
  }
}

.share-now {
  @include clearfix();
  text-align: center;
  .share-button {
    float: none !important;
  }
}

.close_button {
  z-index: 1000;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -16px;
  right: -16px;
  border: 0;
  background: $close-btn-img no-repeat center center;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.nlp_topic {
  font-family: 'Courier New', sans-serif;
  margin-left: 20px;
  font-weight: bold;
  font-size: 14px;
  padding: 11px 4px 0;
  text-shadow: 1px 1px 2px gray;
  float: left;
  z-index: 1;
  color: #000;
}

.nlp_score {
  font-family: 'Orbitron Light', sans-serif;
  font-size: 14px;
  padding: 8px 0 0;
  color: #999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  float: left;
  min-width: 120px;
  z-index: 1;
}

.blur {
  color: #FFF;
  font-weight: bold;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  background: rgba(230, 240, 255, 0.4);
  border: 6px dashed transparent;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

.blur:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.tlt.glow {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-transition: text-shadow 1.5s linear;
  -moz-transition: text-shadow 1.5s linear;
  -o-transition: text-shadow 1.5s linear;
  transition: text-shadow 1.5s linear;
}

.tlt.glow.in {
  text-shadow: 0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8), 0 0 0.5em rgba(255, 255, 255, 0.3);
}

.tlt.fade {
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.tlt.fade.in {
  opacity: 1;
}

.maomao-logo {
  max-width: 128px;
  max-height: 128px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: $logo-img;
  background-size: contain;
  animation-name: zoomInLogo;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.arrow-up {
  width: 0;
  height: 0;
  z-index: 9999;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.22);
}

.mfb-component--tl {
  animation: fromTop 1s 1;
  -webkit-animation: fromTop 1s 1;
}

.mfb-component--tr {
  animation: fromTop 1.3s 1;
  -webkit-animation: fromTop 1.3s 1;
}

.mfb-component--br {
  animation: fromBottom 1.6s 1;
  -webkit-animation: fromBottom 1.6s 1;
}

.mfb-component--bl {
  animation: fromBottom 1.9s 1;
  -webkit-animation: fromBottom 1.9s 1;
}

@keyframes fromBottom {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fromTop {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes fromBottom {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes fromTop {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0);
  }
}

.react-autosuggest__container {
  position: relative;
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;
}

.react-autosuggest__input {
  font-family: Helvetica, sans-serif;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.react-autosuggest__input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.react-autosuggest__input::-webkit-input-placeholder {
  color: #999;
}

.react-autosuggest__input[disabled],
.react-autosuggest__input[readonly],
fieldset[disabled] .react-autosuggest__input {
  background-color: #eee;
  opacity: 1;
}

.react-autosuggest__input[disabled],
fieldset[disabled] .react-autosuggest__input {
  cursor: not-allowed;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 0px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  background-color: #0C7EAF;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.suggestion-content .name {
  margin-left: 5px;
  line-height: 30px;
}

.suggestion-content .highlight {
  color: #ee0000;
  font-weight: bold;
}

.react-autosuggest__suggestion--focused .highlight {
  color: #120000;
}

.card-header {
  img {
    vertical-align: middle;
  }
  div {
    line-height: normal;
  }
}


/*popup score*/

.list-para {
  p {
    @include clearfix();
    margin-top: 13px;
    span {
      float: right;
    }
    &:nth-child(1) {
      color: #3b5998;
    }
    &:nth-child(2) {
      color: #55acee;
    }
    &:nth-child(3) {
      color: #d34836;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

.score-title {
  > div {
    span {
      font-size: 20px !important;
      color: #5f5e5e !important;
      font-weight: bold;
    }
  }
}


/*popup share*/

.share-options button {
  min-width: 150px;
  color: #fff;
  &,
  &:hover,
  &:active {
    transition: all 0.2s ease-in-out;
  }
}

.toolbar-button {
  margin: 25px 0;
  text-align: center;
  > div,
  button {
    float: none !important;
  }
  button {
    width: 50px;
    height: 50px;
    transition: transform 800ms;
    position: relative;
    z-index: 100;
    margin: 0 15px;
    display: inline-block;
    border: 0;
    box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 1);
    &,
    &:hover,
    &:active {
      transition: all 0.2s ease-in-out;
    }
    &:before {
      content: '';
      transform: scale(0.7);
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      pointer-events: none;
      opacity: 1;
      z-index: -1;
    }
    &:nth-child(4) {
      border: 1px solid #ccc;
      border-radius: 50%;
      background-size: 58%;
      background-position: center center;
    }
    &:nth-child(1) {
      &:before {
        box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 1);
      }
    }
    &:nth-child(2) {
      &:before {
        box-shadow: 0px 0px 8px 2px rgba(60, 90, 154, 0.53);
      }
    }
    &:nth-child(3) {
      &:before {
        box-shadow: 0px 0px 8px 2px rgba(0, 132, 255, 0.53);
      }
    }
    &:nth-child(4) {
      &:before {
        box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 1);
      }
    }
    &:after {
      transition: opacity 600ms, transform 800ms;
      content: '';
      line-height: 50px;
      transform: translate3d( 0, 0, 0);
      opacity: 1;
    }
    &:hover {
      transform: scale( 1.2);
      transition: transform 800ms, background-color 800ms;
      &:after {
        transform: translate3d( 0, -25px, 0);
        opacity: 0;
      }
      &:before {
        transition: transform 800ms, opacity 1000ms;
        transform: scale( 1.5);
        opacity: 0;
        z-index: 1;
      }
    }
    &:hover {
      &:nth-child(1) {
        &:before {
          box-shadow: 0px 0px 8px 2px rgba(255, 77, 37, 0.53);
        }
      }
      &:nth-child(4) {
        &:before {
          box-shadow: 0px 0px 8px 2px rgba(181, 180, 180, 0.53);
        }
      }
    }
  }
}

/* .panel-account {
  > div > div:nth-child(1),
  > div > div:nth-child(3) {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
} */

.share-contact {
  position: relative;
  border-radius: 0;
  box-shadow: none;
  width: 176px;
  margin: 10px 8px !important;
  transition: all 0.2s ease-in-out;
  .share-contact-img {
    text-align: left;
    width: 45px;
    img {
      vertical-align: top;
      width: 40px;
      height: 40px;
    }
  }
  .share-info {
    position: static;
    padding: 5px 5px 5px 0;
    height: 40px;
  }
  .account-remove {
    position: absolute;
    left: -10px;
    top: -10px;
    border-radius: 50%;
  }
  &:hover,
  &:focus {
    transition: all 0.2s ease-in-out;
    box-shadow: none;
  }
}

.share-heading {
  font-size: 24px;
  line-height: 36px;
}

.link-share-option {
  padding: 10px 0 15px;
  display: block;
  font-size: 14px;
  color: #1565EB;
  .btn-copy {
    margin: 0 7px;
  }
}

.btn-global {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background: #ededed;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  &:focus,
  &:active:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &:hover,
  &:focus {
    color: #333;
    text-decoration: none;
    background: #ededed;
  }
  &:active {
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }
  &,
  &:hover,
  &:focus {
    transition: all 0.2s ease-in-out;
  }
}

.input-group {
  position: relative;
  display: table;
  width: 100%;
  border-collapse: separate;
  .form-control,
  .input-group-btn {
    display: table-cell;
  }
  .form-control {
    position: relative;
    z-index: 2;
    float: left;
    margin-bottom: 0;
    height: 34px;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    }
    &::-webkit-input-placeholder {
      color: #999;
    }
  }
  .input-group-btn {
    padding-left: 14px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
  }
}


/* button social*/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  &:focus,
  &:active:focus,
  &.active:focus,
  &.focus,
  &:active.focus,
  &.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &:hover,
  &:focus,
  &.focus {
    color: #333;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  &:active,
  &.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }
  &.disabled,
  [disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
  }
}

fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-block {
  display: block;
  max-width: 280px;
  margin: 15px auto 0 !important;
}

.btn-social {
  position: relative;
  padding-left: 44px;
  min-height: 35px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.btn-social >:first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 36px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-copy {
  z-index: 2;
  margin-left: -1px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border-radius: 4px;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  &:hover,
  &:focus {
    color: #333;
    background: #e6e6e6;
    border: 1px solid #bdbdbd;
  }
  &,
  &:hover,
  &:focus {
    transition: all 0.2s ease-in-out;
  }
}


/*Icons*/

.icons-facebook,
.icons-googleplus,
.icons_signout,
.icons-close {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
}

.icons-facebook {
  left: 0px;
  top: -2px;
  width: 31px;
  height: 35px;
  background-color: #fff;
  -webkit-mask: url($facebook-icons) no-repeat;
}

.icons-googleplus {
  width: 28px;
  height: 28px;
  top: -1px;
  left: 1px;
  background-color: #fff;
  -webkit-mask: url($google-icons) no-repeat;
}

.icons_signout {
  width: 22px;
  height: 21px;
  top: 6px;
  left: 5px;
  background-color: #000;
  -webkit-mask: url($signout-icons) no-repeat;
}

.icons-close {
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  background-color: #000;
  -webkit-mask: url($close-icons) no-repeat;
}

.btn-facebook {
  color: #fff;
  background: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #fff;
    background: #30487b;
    border-color: rgba(0, 0, 0, 0.2)
  }
  &:active,
  &.active {
    background-image: none
  }
  &.disabled,
  [disabled],
  &.disabled:hover,
  [disabled]:hover,
  &.disabled:focus,
  [disabled]:focus,
  &.disabled:active,
  [disabled]:active,
  &.disabled.active,
  [disabled].active,
  {
    background: #3b5998;
    border-color: rgba(0, 0, 0, 0.2)
  }
}

.open .dropdown-toggle.btn-facebook {
  color: #fff;
  background: #30487b;
  border-color: rgba(0, 0, 0, 0.2)
}

.open .dropdown-toggle.btn-facebook {
  background-image: none
}

fieldset[disabled] .btn-facebook,
fieldset[disabled] .btn-facebook:hover,
fieldset[disabled] .btn-facebook:focus,
fieldset[disabled] .btn-facebook:active,
fieldset[disabled] .btn-facebook.active {
  background: #3b5998;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-google-plus {
  color: #fff;
  background: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #fff;
    background: #ca3523;
    border-color: rgba(0, 0, 0, 0.2)
  }
  &:active,
  .active {
    background-image: none
  }
  &.disabled,
  [disabled],
  &.disabled:hover,
  [disabled]:hover,
  &.disabled:focus,
  [disabled]:focus,
  &.disabled:active,
  [disabled]:active,
  &.disabled.active,
  [disabled].active,
  {
    background: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2)
  }
}

.open .dropdown-toggle.btn-google-plus {
  color: #fff;
  background: #ca3523;
  border-color: rgba(0, 0, 0, 0.2)
}

.open .dropdown-toggle.btn-google-plus {
  background-image: none
}

fieldset[disabled] .btn-google-plus,
fieldset[disabled] .btn-google-plus:hover,
fieldset[disabled] .btn-google-plus:focus,
fieldset[disabled] .btn-google-plus:active,
fieldset[disabled] .btn-google-plus.active {
  background: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook,
.btn-google-plus,
.btn-logout {
  line-height: 23px;
  text-transform: uppercase;
}

.btn-logout {
  color: #333;
  background: #fff;
  border-color: #ccc;
  .fa-sign-out {
    color: #000;
  }
  &:focus,
  &.focus {
    color: #333;
    background: #e6e6e6;
    border-color: #8c8c8c;
  }
  &:hover {
    color: #333;
    background: #e6e6e6;
    border-color: #adadad;
  }
  &:active,
  &.active {
    color: #333;
    background: #e6e6e6;
    border-color: #adadad;
  }
  &:active:hover,
  &.active:hover,
  &:active:focus,
  &.active:focus,
  &:active.focus,
  &.active.focus {
    color: #333;
    background: #d4d4d4;
    border-color: #8c8c8c;
  }
  &:active,
  &.active {
    background-image: none;
  }
  &.disabled:hover,
  [disabled]:hover,
  &.disabled:focus,
  [disabled]:focus,
  &.disabled.focus,
  &[disabled].focus {
    background: #fff;
    border-color: #ccc;
  }
}

fieldset[disabled] .btn-logout:focus,
fieldset[disabled] .btn-logout.focus {
  background: #fff;
  border-color: #ccc;
}

.position-normal,
.position-normal > div,
.position-normal > div > div {
  display: block;
  position: static !important;
}

.close_popup {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: #323232;
  background: #fff;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16);
  &:hover,
  &:focus {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }
}


/*share step*/

.share-steps {
  @include clearfix();
  margin-top: 20px;
  .rc-steps-item {
    width: 33.33%;
    float: left;
    .rc-steps-tail {
      left: 0;
      top: 26px;
      height: 5px;
      width: 100%;
      padding: 0;
      i {
        width: 100%;
        height: 5px;
      }
    }
    .rc-steps-step {
      .rc-steps-head {
        float: none;
        .rc-steps-head-inner {
          position: relative;
          z-index: 999;
          width: 48px;
          height: 48px;
          line-height: 48px;
          display: block;
          font-size: 15px;
          font-weight: bold;
          color: #333;
          background-color: #ddd;
          border-radius: 50%;
          margin: 5px auto 10px;
          text-align: center;
          line-height: normal;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
          .rcicon-check::before {
            content: "";
          }
          .rc-steps-icon {
            position: static;
            font-size: 0;
            text-indent: -1987em;
            width: 24px;
            height: 24px;
            display: inline-block;
          }
        }
      }
      .rc-steps-main {
        text-transform: uppercase;
        .rc-steps-title {
          margin: 0 0 5px;
          font-size: 11px;
        }
        .rc-steps-description {
          font-size: 10px;
        }
      }
    }
    &:nth-child(1) .rc-steps-head-inner .rc-steps-icon {
      background: url($content-icons) no-repeat center center;
    }
    &:nth-child(2) .rc-steps-head-inner .rc-steps-icon {
      background: url($share-icons) no-repeat center center;
    }
    &:nth-child(3) .rc-steps-head-inner .rc-steps-icon {
      background: url($success-icons) no-repeat center center;
    }
    &.rc-steps-status-process .rc-steps-head-inner {
      background-color: rgb(45, 183, 245);
      border-color: rgb(45, 183, 245);
    }
    &.rc-steps-status-process .rc-steps-head .rc-steps-head-inner,
    &.rc-steps-status-finish .rc-steps-head .rc-steps-head-inner,
    &.rc-steps-status-process .rc-steps-tail > i,
    &.rc-steps-status-finish .rc-steps-tail > i {
      background: #2db7f5;
    }
    &.rc-steps-status-process,
    &.rc-steps-status-finish {
      .rc-steps-main {
        text-transform: uppercase;
        .rc-steps-title {
          color: #2db7f5;
        }
      }
    }
    &:last-child {
      .rc-steps-tail {
        display: block;
      }
    }
  }
}

.share-title {
  margin: 10px 0 20px;
  color: #606162;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  em {
    color: #2db7f5;
  }
}

.share-topic {
  text-align: center;
  .share-topic-title {
    margin: 0 0 12px;
    font-size: 17px;
    color: #e9201a;
  }
  .switch-list {
    @include clearfix();
    margin: 10px 0 15px;
    .switch-select {
      > div {
        margin: 0 auto;
      }
      padding: 0 20px;
      &,
      .type-name {
        display: inline-block;
      }
      .type-name {
        margin-top: 5px;
        font-size: 13px;
      }
    }
  }
}

.share-footer {
  @include clearfix();
  padding-top: 10px;
  .btn-slide-next {
    float: right;
  }
  .btn-slide-prev {
    float: left;
  }
  .btn-distance {
    margin-left: 12px;
  }
  .btn-slide-next,
  .btn-slide-prev {
    padding: 8px 12px;
    min-width: 100px;
    background: #4fc3f7;
    &:hover,
    &:focus,
    &:active {
      background: #039be5;
    }
    &,
    &:hover,
    &:focus,
    &:active {
      color: #fff;
    }
  }
}

.share-social {
  .share-social-title {
    margin: 0 0 20px;
    font-size: 17px;
    color: #e9201a;
  }
}


/*autocomplete*/

.panel-autocomplete {
  .react-autosuggest__container--open .react-autosuggest__input {
    border-radius: 4px;
  }
  .react-autosuggest__suggestions-container {
    top: auto;
    bottom: 100%;
    z-index: 99999999999;
    max-height: 248px;
    overflow-y: auto;
    width: 100%;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 -3px 12px rgba(0, 0, 0, .175);
    .suggestion-content {
      font-size: 14px;
      .photo {
        width: 50px;
        text-align: left;
        img {
          vertical-align: top;
        }
      }
    }
  }
}


/*animation logo*/

@-webkit-keyframes zoomInLogo {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomInLogo {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}


/*animation popup*/

@keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes vex-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
