$logo-img: url('./images/dog_blue.png');
$close-btn-img: url('./images/close_button.png');
.react-blur-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas {
  opacity: 1;
  display: block;
  bottom: 3px;
}

#html2canvas {
  width: 100vw;
  position: absolute;
  left: 0;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
}

.blurred {
  position: fixed;
  overflow: inherit;
  bottom: 30px;
  left: 50%;
  right: 50%;
  width: fit-content;
  z-index: 10000;
  background-color: #fff;
  background-image: $logo-img;
  background-size: 32px;
  background-position: center left;
  background-repeat: no-repeat;
}

.blurred .inner_bg {
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 40px;
  height: 40px;
  border: 2px solid #3f51b5;
}

.share-button {
  float: left;
  width: 120px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #4caf50;
  border: 2px solid #3f51b5;
  margin-top: 3px;
  margin-right: 4px;
  margin-bottom: 4px;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.close_button {
  z-index: 1000;
  position: fixed;
  width: 40px;
  height: 40px;
  top: -16px;
  right: -16px;
  border: 0;
  background: $close-btn-img no-repeat center center;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.nlp_topic {
  font-family: 'Courier New', sans-serif;
  margin-left: 40px;
  font-weight: bold;
  font-size: 14px;
  padding: 0 4px;
  text-shadow: 1px 1px 2px gray;
  float: left;
  z-index: 1;
}

.nlp_score {
  font-family: 'Orbitron Light', sans-serif;
  font-size: 14px;
  padding: 0px;
  color: #999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  float: left;
  min-width: 120px;
  z-index: 1;
}

.blur {
  color: #FFF;
  font-weight: bold;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  background: rgba(230, 240, 255, 0.4);
  border: 6px dashed transparent;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

.blur:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.tlt.glow {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-transition: text-shadow 1.5s linear;
  -moz-transition: text-shadow 1.5s linear;
  -o-transition: text-shadow 1.5s linear;
  transition: text-shadow 1.5s linear;
}

.tlt.glow.in {
  text-shadow: 0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8), 0 0 0.5em rgba(255, 255, 255, 0.3);
}

.tlt.fade {
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.tlt.fade.in {
  opacity: 1;
}

.maomao-logo {
  max-width: 128px;
  max-height: 128px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: $logo-img;
  background-size: contain;
  -webkit-animation-name: zoomInLogo;
  animation-name: zoomInLogo;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.arrow-up {
  width: 0;
  height: 0;
  z-index: 9999;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.22);
}

.mfb-component--tl {
  animation: fromTop 1s 1;
  -webkit-animation: fromTop 1s 1;
}

.mfb-component--tr {
  animation: fromTop 1.3s 1;
  -webkit-animation: fromTop 1.3s 1;
}

.mfb-component--br {
  animation: fromBottom 1.6s 1;
  -webkit-animation: fromBottom 1.6s 1;
}

.mfb-component--bl {
  animation: fromBottom 1.9s 1;
  -webkit-animation: fromBottom 1.9s 1;
}

@keyframes fromBottom {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fromTop {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes fromBottom {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes fromTop {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0);
  }
}

.react-autosuggest__container {
  position: relative;
  margin: 0 auto;
  padding: 10px 0;
  width: 90%;
}

.react-autosuggest__input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  box-shadow: rgba(0, 0, 0, 0.14902) 3px 3px 11px 3px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 0px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  background-color: #0C7EAF;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.suggestion-content .name {
  margin-left: 5px;
  line-height: 30px;
}

.suggestion-content .highlight {
  color: #ee0000;
  font-weight: bold;
}

.react-autosuggest__suggestion--focused .highlight {
  color: #120000;
}


/*animation logo*/

@-webkit-keyframes zoomInLogo {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomInLogo {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

/*animation popup*/

@keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-webkit-keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-moz-keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-ms-keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-o-keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes vex-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes vex-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes vex-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes vex-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes vex-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
