$logo-img: url('./images/dog_blue.png');
$close-btn-img: url('./images/close_button.png');
.react-blur-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas {
  opacity: 1;
  display: block;
  bottom: 3px;
}

#html2canvas {
  width: 100vw;
  position: absolute;
  left: 0;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
}

.blurred {
  position: fixed;
  overflow: inherit;
  bottom: 30px;
  left: 50%;
  right: 50%;
  width: 450px;
  margin-left: -225px;
  padding: 20px;
  border-radius: 7px;
  padding: 10px 10px 10px 50px;
  background-position: 14px center;
  z-index: 10000;
  background-color: #fff;
  background-image: $logo-img;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 32px;
  -webkit-overflow-scrolling: touch;
  box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;
  animation: vex-flyin 0.5s;
  .close_button {
    right: -32px;
    top: -32px;
  }
  .share-button {
    float: right;
  }
}

.blurred .inner_bg {
  text-align: center;
}

.share-button {
  float: left;
  color: #fff;
  margin: 3px 0 4px 0;
  background-color: #11c759;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  &:focus,
  &:active:focus,
  {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &:active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #03fd66;
  }
  &,
  &:hover,
  &:focus,
  &:active {
    transition: all 0.2s ease-in-out;
  }
}

.close_button {
  z-index: 1000;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -16px;
  right: -16px;
  border: 0;
  background: $close-btn-img no-repeat center center;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.nlp_topic {
  font-family: 'Courier New', sans-serif;
  margin-left: 20px;
  font-weight: bold;
  font-size: 14px;
  padding: 11px 4px 0;
  text-shadow: 1px 1px 2px gray;
  float: left;
  z-index: 1;
}

.nlp_score {
  font-family: 'Orbitron Light', sans-serif;
  font-size: 14px;
  padding: 8px 0 0;
  color: #999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  float: left;
  min-width: 120px;
  z-index: 1;
}

.blur {
  color: #FFF;
  font-weight: bold;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  background: rgba(230, 240, 255, 0.4);
  border: 6px dashed transparent;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

.blur:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.tlt.glow {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-transition: text-shadow 1.5s linear;
  -moz-transition: text-shadow 1.5s linear;
  -o-transition: text-shadow 1.5s linear;
  transition: text-shadow 1.5s linear;
}

.tlt.glow.in {
  text-shadow: 0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8), 0 0 0.5em rgba(255, 255, 255, 0.3);
}

.tlt.fade {
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.tlt.fade.in {
  opacity: 1;
}

.maomao-logo {
  max-width: 128px;
  max-height: 128px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: $logo-img;
  background-size: contain;
  animation-name: zoomInLogo;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.arrow-up {
  width: 0;
  height: 0;
  z-index: 9999;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.22);
}

.mfb-component--tl {
  animation: fromTop 1s 1;
  -webkit-animation: fromTop 1s 1;
}

.mfb-component--tr {
  animation: fromTop 1.3s 1;
  -webkit-animation: fromTop 1.3s 1;
}

.mfb-component--br {
  animation: fromBottom 1.6s 1;
  -webkit-animation: fromBottom 1.6s 1;
}

.mfb-component--bl {
  animation: fromBottom 1.9s 1;
  -webkit-animation: fromBottom 1.9s 1;
}

@keyframes fromBottom {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fromTop {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes fromBottom {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes fromTop {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0);
  }
}

.react-autosuggest__container {
  position: relative;
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;
}

.react-autosuggest__input {
  font-family: Helvetica, sans-serif;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.react-autosuggest__input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.react-autosuggest__input::-webkit-input-placeholder {
  color: #999;
}

.react-autosuggest__input[disabled],
.react-autosuggest__input[readonly],
fieldset[disabled] .react-autosuggest__input {
  background-color: #eee;
  opacity: 1;
}

.react-autosuggest__input[disabled],
fieldset[disabled] .react-autosuggest__input {
  cursor: not-allowed;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 0px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  background-color: #0C7EAF;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.suggestion-content .name {
  margin-left: 5px;
  line-height: 30px;
}

.suggestion-content .highlight {
  color: #ee0000;
  font-weight: bold;
}

.react-autosuggest__suggestion--focused .highlight {
  color: #120000;
}

.card-header img {
  vertical-align: middle;
}


/*popup score*/

.list-para {
  p {
    @include clearfix();
    margin-top: 13px;
    span {
      float: right;
    }
    &:nth-child(1) {
      color: #3b5998;
    }
    &:nth-child(2) {
      color: #55acee;
    }
    &:nth-child(3) {
      color: #d34836;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

.score-title {
  > div {
    span {
      font-size: 20px !important;
      color: #5f5e5e !important;
      font-weight: bold;
    }
  }
}


/*popup share*/

.toolbar-button {
  margin: 25px 0;
  text-align: center;
}

.toolbar-button > div,
.toolbar-button button {
  float: none !important;
}

.toolbar-button button {
  margin: 0 15px;
  display: inline-block;
  border: 0;
}

.toolbar-button button.KTTLT,
.toolbar-button button.vGkfl,
.toolbar-button button.jlejhi,
.toolbar-button button.jNXVCB,
.toolbar-button button.kpaldF,
.toolbar-button button.cUaBbx,
.toolbar-button button.hTdvbU,
.toolbar-button button.fMfSBi {
  width: 50px;
  height: 50px;
}

.toolbar-button button.jNXVCB,
.toolbar-button button.fMfSBi {
  border: 1px solid #ccc;
  border-radius: 50%;
  background-size: 58%;
  background-position: center center;
}

.share-options button {
  min-width: 150px;
  color: #fff;
}

.toolbar-button button,
.toolbar-button button:hover,
.toolbar-button button:active,
.share-options button,
.share-options button:hover,
.share-options button:active {
  transition: all 0.2s ease-in-out;
}

.toolbar-button button {
  width: 50px;
  height: 50px;
  transition: transform 800ms;
  position: relative;
  z-index: 100;
  box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 1);
  &:before {
    content: '';
    transform: scale(0.7);
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    pointer-events: none;
    opacity: 1;
    z-index: -1;
  }
  &.KTTLT,
  &.kpaldF {
    &:before {
      box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 1);
    }
  }
  &.vGkfl,
  &.cUaBbx {
    &:before {
      box-shadow: 0px 0px 8px 2px rgba(60, 90, 154, 0.53);
    }
  }
  &.jlejhi,
  &.hTdvbU {
    &:before {
      box-shadow: 0px 0px 8px 2px rgba(0, 132, 255, 0.53);
    }
  }
  &.jNXVCB,
  &.fMfSBi {
    &:before {
      box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 1);
    }
  }
  &:after {
    transition: opacity 600ms, transform 800ms;
    content: '';
    line-height: 50px;
    transform: translate3d( 0, 0, 0);
    opacity: 1;
  }
  &:hover {
    transform: scale( 1.2);
    transition: transform 800ms, background-color 800ms;
    &:after {
      transform: translate3d( 0, -25px, 0);
      opacity: 0;
    }
    &:before {
      transition: transform 800ms, opacity 1000ms;
      transform: scale( 1.5);
      opacity: 0;
      z-index: 1;
    }
  }
  &:hover {
    &.jNXVCB,
    &.kpaldF {
      &:before {
        box-shadow: 0px 0px 8px 2px rgba(181, 180, 180, 0.53);
      }
    }
    &.KTTLT,
    &.fMfSBi {
      &:before {
        box-shadow: 0px 0px 8px 2px rgba(255, 77, 37, 0.53);
      }
    }
  }
}

.share-contact {
  position: relative;
  border-radius: 0;
  box-shadow: none;
  width: 176px;
  margin: 10px 8px !important;
  transition: all 0.2s ease-in-out;
  .share-contact-img {
    text-align: left;
    width: 45px;
    img {
      vertical-align: top;
    }
  }
  .share-info {
    position: static;
    padding: 5px 5px 5px 0;
    height: 40px;
  }
  .account-remove {
    position: absolute;
    left: -10px;
    top: -10px;
    border-radius: 50%;
  }
  &:hover,
  &:focus {
    transition: all 0.2s ease-in-out;
    box-shadow: none;
  }
}

.share-heading {
  font-size: 24px;
  line-height: 36px;
}

.fancy {
  line-height: 0.5;
  text-align: center;
  overflow: hidden;
}

.fancy .fancy-line {
  display: inline-block;
  position: relative;
}

.fancy .fancy-line:before,
.fancy .fancy-line:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  top: 5px;
  width: 100%;
}

.fancy .fancy-line:before {
  right: 100%;
  margin-right: 15px;
}

.fancy .fancy-line:after {
  left: 100%;
  margin-left: 15px;
}


/*animation logo*/

@-webkit-keyframes zoomInLogo {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomInLogo {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}


/*animation popup*/

@keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-ms-keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes vex-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes vex-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes vex-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes vex-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes vex-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
